<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>717069597377-k1cu9o5b4tptkebqv28oe3gluic0hau8.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.717069597377-k1cu9o5b4tptkebqv28oe3gluic0hau8</string>
	<key>API_KEY</key>
	<string>AIzaSyCX9b_JiiEBAkFJuzCD6WTKtthOarFhsN8</string>
	<key>GCM_SENDER_ID</key>
	<string>717069597377</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.talhagolcugezli.BookComment</string>
	<key>PROJECT_ID</key>
	<string>bookcomment-138e3</string>
	<key>STORAGE_BUCKET</key>
	<string>bookcomment-138e3.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:717069597377:ios:0f8341c839689a56a5f240</string>
</dict>
</plist>